<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title; %> - <%= projectName; %></title>

    <link rel="apple-touch-icon" sizes="180x180" href="/themes/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/themes/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/themes/favicon-16x16.png">
    <link rel="manifest" href="/themes/site.webmanifest">

    <link rel="stylesheet" href="/themes/main-be.css">
    <script src="/themes/main-be.js" defer></script>

</head>
<body class="register">

<div class="register-form fl-center h-screen txt_color_white">
    <div class="register-form__inner w100">

        <div class="register-form__heading boil-content">
            <h1 class="ta-center heading-2"><%= title; %></h1>
        </div>

        <div class="register-form__content">
            <%- content; %>
        </div>

        <!-- render message-->
        <% if(notification) { %>
            <div class="txt_14px txt_color_error" style="margin-top:1.5rem"><%= notification.message; %></div>
        <% } %>
    </div>
</div>


</body>
</html>