<%
// boolean for checking edit or add new post
const isEditPost = actionType === 'edit';

// validate selected value on select
const isSelectedValue = (name, value) => {
    if(!isEditPost) return null
    return data[name] === value ? 'selected' : null
}

// get value from data
const getValueFromData = (name) => {
    if(!isEditPost) return ''
    return data[name]
}
%>

<div class="container">
    <form action="?post_type=post&action=<%= actionType %><%= isEditPost ? '&id=' + data._id : '' %>" method="post"
          class="detail-post">

        <div>
            <label for="title">Add title</label>
            <input type="text" placeholder="Add title" id="title" name="title" required
                   value="<%= getValueFromData('title') %>">
        </div>

        <% if (isEditPost) { %>
            <div>
                <label for="edit-url">Edit URL</label>
                <input type="text" placeholder="Edit URL" id="edit-url" name="url"
                       value="<%= getValueFromData('url') %>">
            </div>
        <% } %>

        <div>
            <label for="visibility">Visibility</label>
            <select name="visibility" id="visibility">
                <option <%= isSelectedValue('visibility', 'public') %> value="public" name="public">Public</option>
                <option <%= isSelectedValue('visibility', 'private') %> value="private" name="private">Private</option>
            </select>
        </div>
        <button type="submit">Publish</button>
    </form>
</div>