<%
// boolean for checking edit or add new post
const isEditPost = actionType === 'edit';

// validate selected value on select
const isSelectedValue = (name, value) => {
    if(!isEditPost) return null;
    return data[name] === value ? 'selected' : null;
};

// get value from data
const getValueFromData = (name) => {
    if(!isEditPost) return '';
    return data[name];
};
%>

<div class="posts-content">
    <div class="posts-content__heading">
        <h1>Edit <%= title; %></h1>
        <a href="?post_type=post&action=add" class="button-style">Add New</a>
    </div>
</div>

<div class="container" data-post-detail>
    <form action="?post_type=post&method=post&action=<%= actionType %><%= isEditPost ? '&id=' + data._id : '' %>"
          method="post"
          class="detail-post">

        <div class="posts-detail">
            <div class="posts-detail--left">
                <div class="posts-detail__information" style="margin-bottom:20px;">

                    <div class="posts-detail__title">
                        <label for="title" class="hidden">Add title</label>
                        <input type="text" placeholder="Add title" id="title" name="title" required
                               value="<%= getValueFromData('title') %>">
                    </div>

                    <% if (isEditPost) { %>
                        <div class="posts-detail__permalink">
                            <label for="permalink" style="margin-right:10px;">Permalink:</label>
                            <input type="text" placeholder="permalink" id="permalink" name="url" required
                                   value="<%= getValueFromData('url') %>">
                        </div>
                    <% } %>
                </div>

                <div>Page Builder</div>
                <div class="posts__detail-content" data-content>
                    <div class="posts__detail-inner">

                        <div data-component="wrapper">
                            <div data-component-children data-component-content></div>
                            <div data-component-add>
                                <button type="button" data-toggle="components">Add</button>
                            </div>
                        </div>

                    </div>


                    <div class="posts-detail__components" data-popup data-components>
                        <div data-popup-overlay data-toggle="components"></div>
                        <div class="component-popup__inner" data-popup-inner>
                            <% components.forEach(c => { %>
                                <button class="posts-detail__component-item"
                                        data-component="<%= c.name; %>"
                                        data-action="add"
                                        data-toggle="components <%= c.name === 'row' ? '' : 'component-panel' %>"
                                        type="button">
                                    <div data-component-title><%= c.title; %></div>
                                    <div data-component-description><%= c.description; %></div>
                                </button>
                            <% }); %>
                        </div>
                    </div>

                    <div class="component-popup" data-popup>
                        <div data-popup-overlay data-toggle="component-panel"></div>
                        <div class="component-popup__inner" data-popup-inner="">
                            <div class="component-popup__content"></div>
                            <button type="button" data-toggle="component-panel" class="component-popup__save">Save
                            </button>
                            <button type="button" data-toggle="component-panel">Cancel</button>
                        </div>
                    </div>

                </div>
            </div>

            <div class="posts-detail--right">
                <div class="posts-detail__visibility">
                    <label for="visibility">Visibility</label>
                    <select name="visibility" id="visibility">
                        <option <%= isSelectedValue('visibility', 'public') %> value="public" name="public">Public
                        </option>
                        <option <%= isSelectedValue('visibility', 'private') %> value="private" name="private">Private
                        </option>
                    </select>
                </div>
                <button type="submit">Publish</button>
            </div>
        </div>

    </form>
</div>