<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="header-logo">
                Logo here
            </div>
            <div class="header-action">
                Hi <%= username%>
            </div>
        </div>
        <div class="admin-menu">
            <ul>
                <%for( let i = 0 ; i< category.length; i++) {%>
                    <li class="category">
                        <a class="router-link" href="<%=category[i].url%>"><%= category[i].name%></a>
                        <ul class="sub-menu">
<!--                            <h3>23423</h3>-->
                            <%for (let j = 0; j< subParent.length; j++) { %>
                                <li class="sub-category">
                                    <a class="router-link" href="<%= subParent[j].url%>"><%= subParent[j].name%></a>
                                </li>
                            <%}%>
                        </ul>
                    </li>
                <% } %>
            </ul>
        </div>
        <h1>Hello</h1>
        <h4>This is <%-content%></h4>

    </div>
</body>
</html>