<%
// modify date publish
const modifyDate = (publishTime) => {
    const year = publishTime.getFullYear();
    const month = (publishTime.getMonth() + 1).toString().padStart(2, '0');
    const date = publishTime.getDate().toString().padStart(2, '0');
    const hour = publishTime.getHours().toString().padStart(2, '0');
    const minute = publishTime.getMinutes().toString().padStart(2, '0');
    return `${date}/${month}/${year} at ${hour}:${minute}`;
};

// validate selected value on select
const isSelectedValue = (name, value) => {
    return data[name] === value ? 'selected' : null;
};

%>

<div class="users-content">
    <div class="users-content__heading fl-center-v" style="gap:10px">
        <h1><%= title; %></h1>
    </div>
</div>

<% if (data.length === 0) { %>
    <h2>No content</h2>
<% } else { %>
    <div class="users-list" data-custom-table data-user-wrapper>
        <div class="users-list__inner">
            <div class="users-list__heading" data-column-wrapper="heading">
                <div class="users-list--user" data-column="User">User</div>
                <div class="users-list--register" data-column="Register At">Register At</div>
                <div class="users-list--email" data-column="Email">Email</div>
                <div class="users-list--role" data-column="Role">Role</div>
                <div class="users-list--state" data-column="State">State</div>
                <div class="users-list--action" data-column="Action">Action</div>
            </div>

            <% data.forEach(user => { %>

                <div class="users-list__item" data-column-wrapper="item">
                    <div class="users__item--user not-show-user" data-column="User"><%= user.name%></div>

                    <div class="users__item--register not-show-title" data-column="Register At">
                        <time><%= modifyDate(user.registerAt) %></time>
                    </div>

                    <div class="users__item--email"
                         data-column="Email"><%= user.email; %></div>

                    <div class="users__item--role"
                         data-column="Role"><%= user.role; %></div>

                    <div class="users__item--state"
                         data-column="State"><%= user.state; %></div>

                    <div class="users__item--action" data-column="Action">

                        <button class="users__item--link" data-toggle="user-popup" data-id="<%= user._id%>" data-user-item >Edit</button>
                        <a href="?post_type=<%= contentType; %>&method=post&action=delete&id=<%= user._id; %>"
                           class="users__item--link trash">Trash</a>
                    </div>

                </div>
            <% }); %>
        </div>

        <div data-popup>
            <div data-popup-overflow>
                <div data-popup-overlay data-toggle="user-popup"></div>

                <!-- pop up content-->
                <form method="post" action="#" data-popup-inner data-user-form>

                    <div class="user-popup fl-grid">

                        <div class="user-popup__group">

                            <!-- name -->
                            <div class="fl-center-v">
                                <label for="username">Username</label>
                                <input id="username" data-user-name>
                            </div>

                            <!-- email -->
                            <div class="fl-center-v">
                                <label for="email">Email</label>
                                <input id="email" data-user-email>
                            </div>
                        </div>

                        <div class="user-popup__group">

                            <!-- create at -->
                            <div class="fl-center-v">
                                <label for="register">Register</label>
                                <input id="register" data-user-register readonly>
                            </div>
                        </div>

                        <div class="user-popup__group">

                            <!-- password -->
                            <div class="fl-center-v">
                                <label for="password">Password</label>
                                <input type="password" value="hidden"  id="user-password" readonly>
                                <button type="button" data-user-generate-password-btn>Generate new password</button>
                                <input id="password" type="text" readonly name="password" data-generate-password-input>
                            </div>
                        </div>

                        <div class="user-popup__group">

                            <!-- role -->
                            <div class="fl-center-v">
                                <label for="role">Role</label>
                                <select name="role" id="role">
                                    <option <%= isSelectedValue('role', 'user'); %> value="user">User
                                    </option>
                                    <option <%= isSelectedValue('role', 'admin'); %> value="admin">Admin
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="user-popup__group">

                            <!-- status -->
                            <div class="fl-center-v">
                                <label for="status">Status</label>
                                <select name="status" id="status">
                                    <option <%= isSelectedValue('status', 'active'); %> value="active">Active
                                    </option>
                                    <option <%= isSelectedValue('status', 'suspend'); %> value="suspend">Suspend
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
<% } %>