<%
// modify date publish
const modifyDate = (publishTime) => {
    const year = publishTime.getFullYear();
    const month = (publishTime.getMonth() + 1).toString().padStart(2, '0');
    const date = publishTime.getDate().toString().padStart(2, '0');
    const hour = publishTime.getHours().toString().padStart(2, '0');
    const minute = publishTime.getMinutes().toString().padStart(2, '0');
    return `${date}/${month}/${year} at ${hour}:${minute}`;
};

// validate selected value on select
const isSelectedValue = (name, value) => {
    return data[name] === value ? 'selected' : null;
};

%>

<div class="posts-content">
    <div class="posts-content__heading fl-center-v" style="gap:10px">
        <h1><%= title; %></h1>
    </div>
</div>

<% if (data.length === 0) { %>
    <h2>No content</h2>
<% } else { %>
    <div class="posts-list" data-custom-table>
        <div class="posts-list__inner">
            <div class="posts-list__heading" data-column-wrapper="heading">
                <div class="posts__list--user" data-column="User">User</div>
                <div class="posts__list--role" data-column="Role">Role</div>
                <div class="posts__list--email" data-column="Email">Email</div>
                <div class="posts__list--create" data-column="Create At">Create At</div>
            </div>

            <% data.forEach(user => { %>

                <div class="posts-list__item" data-column-wrapper="item">
                    <div class="posts__item--user not-show-user" data-column="User">
                        <button class="posts__item--link" data-toggle="user-popup"><%= user.name; %></button>
                    </div>

                    <div class="posts__item--role"
                         data-column="Role"><%= user.role; %></div>

                    <div class="posts__item--email"
                         data-column="Email"><%= user.email; %></div>

                    <div class="posts__item--create not-show-title" data-column="Create At">
                        <time><%= modifyDate(user.createAt) %></time>
                    </div>

                    <div class="posts__item--utils">
                        <a href="?post_type=<%= contentType; %>&action=edit&id=<%= user._id; %>"
                           class="posts__item--link">Edit</a>
                        <a href="#" target="_blank" class="posts__item--link">Quick Edit</a>
                        <a href="#" class="posts__item--link trash">Trash</a>
                    </div>
                </div>
            <% }); %>
        </div>

        <div data-popup>
            <div data-popup-overflow>
                <div data-popup-overlay data-toggle="user-popup"></div>

                <!-- pop up content-->
                <form method="post" action="#" data-popup-inner>

                    <div class="user-popup fl-grid">

                        <div class="user-popup__group">

                            <!-- name -->
                            <div class="fl-center-v">
                                <label for="username">Username</label>
                                <input id="username">
                            </div>

                            <!-- email -->
                            <div class="fl-center-v">
                                <label for="email">Email</label>
                                <input id="email">
                            </div>
                        </div>

                        <div class="user-popup__group">

                            <!-- create at -->
                            <div class="fl-center-v">
                                <label for="create-at">Create at</label>
                                <input id="create-at">
                            </div>
                        </div>

                        <div class="user-popup__group">

                            <!-- password -->
                            <div class="fl-center-v">
                                <label for="password">Password</label>
                                <input type="password" value="hidden"  id="user-password" readonly>
                                <button>Generate new password</button>
                                <input id="password" type="text" readonly>
                            </div>
                        </div>

                        <div class="user-popup__group">

                            <!-- role -->
                            <div class="fl-center-v">
                                <label for="role">Role</label>
                                <select name="role" id="role">
                                    <option <%= isSelectedValue('role', 'user'); %> value="user">User
                                    </option>
                                    <option <%= isSelectedValue('role', 'admin'); %> value="admin">Admin
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="user-popup__group">

                            <!-- status -->
                            <div class="fl-center-v">
                                <label for="status">Status</label>
                                <select name="status" id="status">
                                    <option <%= isSelectedValue('status', 'active'); %> value="active">Active
                                    </option>
                                    <option <%= isSelectedValue('status', 'suspend'); %> value="suspend">Suspend
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
<% } %>