<form method="post" action="?posts_type=<%= contentType; %>&method=post&action=add" enctype="multipart/form-data">
    <label for="name">Name: </label>
    <input id="name" type="text" name="name">
    <label for="image">Add Image: </label>
    <input type="file" name="image" accept="*/*" id="image" data-input-test>
    <button class="button-style" type="submit">Add New</button>
</form>

<div data-media-wrapper>
    <div data-media-list class="flex-grid-template">
        <% data.forEach(media => { %>
            <button class="img-wrapper-cover skeleton-bg t" data-media-item data-toggle="media"
                    data-id="<%= media._id; %>">
                <img data-media-img src="<%= media.url.small; %>" alt="<%= media.name; %>"/>
            </button>
        <% } ); %>
    </div>

    <div data-popup>
        <div data-popup-overflow>
            <div data-popup-overlay data-toggle="media"></div>

            <!-- popup content -->
            <form method="post" action="?post_type=<%= contentType; %>&method=post&action=edit"
                  enctype="multipart/form-data" data-popup-inner>

                <div class="media-popup fl-grid">

                    <div class="media-popup__col media-popup__col--left">
                        <!-- preview media -->
                        <div data-media-item class="skeleton-bg img-wrapper-contain">
                            <img data-preview-media>
                        </div>

                    </div>

                    <div class="media-popup__col media-popup__col--right">

                        <!-- media information -->
                        <div class="media-pop__group">
                            <!-- name -->
                            <div>
                                <label for="media-name">Name: </label>
                                <input id="media-name" data-media-name>
                            </div>

                            <!-- URL -->
                            <div>
                                <span>File Url: </span>
                                <a target="_blank" data-media-url></a>
                            </div>
                        </div>

                        <div class="media-popup__group">
                            <!-- replace media -->
                            <div data-replace-media>
                                <label for="replace-media">Replace</label>
                                <input type="file" id="replace-media" accept="image/*" data-input-media>
                            </div>

                            <div class="fl-center-v" style="gap:5px;">
                                <button class="button-style" type="button">Save</button>
                                <button class="button-style" type="button">Delete</button>
                                <button class="button-style" type="button">Cancel</button>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>

