<h3>Show all images</h3>
<form class="form-image" method="post" action="?posts_type=media&method=post&action=add" enctype="multipart/form-data">
    <label for="name">Name: </label>
    <input id="name" type="text" name="name">
    <label for="image">Add Image: </label>
    <input type="file" name="image" accept="*/*" id="image">
    <button class="button-style" type="submit">Add New</button>
</form>

<div class="media-list">
    <% data.forEach(media => { %>
        <a href="?post_type=<%= contentType%>&action=edit&id=<%= media._id %>" class="media-item">
            <h3><%= media.name %></h3>
            <img src="<%= media.url.small %>" alt="<%= media.name %>"/>
        </a>

    <% } ) %>
</div>
