<%
// modify date publish
const modifyDate = (publishTime) => {
    const year = publishTime.getFullYear();
    const month = (publishTime.getMonth() + 1).toString().padStart(2, '0');
    const date = publishTime.getDate().toString().padStart(2, '0');
    const hour = publishTime.getHours().toString().padStart(2, '0');
    const minute = publishTime.getMinutes().toString().padStart(2, '0');
    return `${date}/${month}/${year} at ${hour}:${minute}`;
};
%>

<form method="post" action="/boiler-admin/user?method=post&action=edit&id=<%= data._id%>">
    <div>
        <div data-form-column class="fl-grid">

            <div data-form-group>

                <!-- name -->
                <div data-form-input class="fl-center-v">
                    <label for="username">Username</label>
                    <input id="username" data-user-name name="name" value="<%= data.name%>">
                </div>
            </div>

            <div data-form-group>

                <!-- email -->
                <div data-form-input class="fl-center-v">
                    <label for="email">Email</label>
                    <input id="email" data-user-email name="email" value="<%= data.email%>">
                </div>
            </div>
        </div>

        <div data-form-column>
            <div data-form-group>
                <div data-form-input>

                    <!-- register at-->
                    <label>Register</label>
                    <div><time><%= data.registerAt%></time></div>
                </div>
            </div>
        </div>

        <div data-form-column>
            <div data-form-group>
                <div data-form-input>

                    <!-- password -->
                    <label for="password">Password</label>
                    <input type="password" value="hidden" id="password" readonly>

                </div>
            </div>
        </div>

        <div data-form-column>
            <div data-form-group>
                <div data-form-input>

                    <!-- role -->
                    <label for="role">Role</label>
                    <div id="role"><%=data.role%></div>
                </div>
            </div>

        </div>
        <div class="fl-center-v mt-auto" style="gap:5px;">
            <button type="submit" class="btn_primary">Save</button>
        </div>
    </div>
</form>