<%
const isActiveItem = (category) => {
    return category.type === categoryItem.type ? 'active' : ''
    return ''
}
%>

<div class="category__panel">
    <div class="category__panel-inner">
        <ul class="category__menu">
            <% categories.forEach(category => {
                if(category.notShowInCategory) return; %>
            <li class="category__menu-item">
                <a class="category__menu-item--link <%= isActiveItem(category) %>"
                   href="<%= category.url %>"><%= category.name %></a>
            </li>
            <% }) %>
        </ul>

        <!-- account menu -->
        <ul class="account__menu">
            <li class="category__menu-item">
                <a class="category__menu-item--link <%= isActiveItem(categories.find(c => c.type === 'account')) %>"
                   href="/<%= adminPath %>/account">Account</a>
            </li>

            <li class="category__menu-item">
                <a class="category__menu-item--link" href="/register?type=log-out">Log out</a>
            </li>
        </ul>
    </div>
</div>