<%
const id = (new Date()).getTime().toString(36) + Math.random().toString(36).slice(2)
const validatedOptions = options || ''
%>

<div data-type="<%= type %>" data-param="<%= paramName; %>" class="<%= classesName; %>" data-id="<%= id %>"
     data-options="<%= validatedOptions %>">

    <!-- show media popup button -->
    <div>Media here</div>
    <button data-param-value data-load-media type="button" data-custom-toggle="<%= id %>" class="button-style">+
    </button>

    <!-- media popup -->
    <div data-pb-media-popup data-popup data-custom-toggle-content="<%= id %>">
        <div data-popup-overflow>
            <div data-popup-overlay data-custom-toggle="<%= id %>"></div>

            <!-- popup content -->
            <div class="media-popup fl-grid" data-popup-inner>

                <!-- media list -->
                <div class="media-popup__col--left">
                    <div data-media-list class="flex-grid-template"></div>

                    <div>
                        <button type="button" data-save-media data-custom-toggle="<%= id %>">Save</button>
                    </div>
                </div>

                <!-- upload new media -->
                <div class="media-popup__col--right">
                    <form data-media-form class="media-popup fl-grid" action="?post_type=media&method=post&action=add"
                          enctype="multipart/form-data">

                        <div>
                            <label for="name">Name:</label>
                            <input type="text" id="name" placeholder="Name" data-media-name>
                        </div>

                        <div>
                            <label for="image">Add new image:</label>
                            <input id="image" type="file" accept="image/*" name="image" data-add-media required>
                        </div>

                        <button data-add-media-button>Add</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>